<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ysu.Model.mapper.BannedMapper">
  <resultMap id="BaseResultMap" type="ysu.Model.po.Banned">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="User_id" jdbcType="INTEGER" property="userId" />
    <result column="Moderator_id" jdbcType="INTEGER" property="moderatorId" />
    <result column="Creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="End_time" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, User_id, Moderator_id, Creat_time, End_time
  </sql>
  <select id="selectByExample" parameterType="ysu.Model.po.BannedExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Banned
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Banned
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Banned
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ysu.Model.po.BannedExample">
    delete from Banned
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ysu.Model.po.Banned">
    insert into Banned (Id, User_id, Moderator_id, 
      Creat_time, End_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{moderatorId,jdbcType=INTEGER}, 
      #{creatTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="ysu.Model.po.Banned">
    insert into Banned
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="userId != null">
        User_id,
      </if>
      <if test="moderatorId != null">
        Moderator_id,
      </if>
      <if test="creatTime != null">
        Creat_time,
      </if>
      <if test="endTime != null">
        End_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="moderatorId != null">
        #{moderatorId,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ysu.Model.po.BannedExample" resultType="java.lang.Long">
    select count(*) from Banned
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update Banned
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        User_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.moderatorId != null">
        Moderator_id = #{record.moderatorId,jdbcType=INTEGER},
      </if>
      <if test="record.creatTime != null">
        Creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        End_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update Banned
    set Id = #{record.id,jdbcType=INTEGER},
      User_id = #{record.userId,jdbcType=INTEGER},
      Moderator_id = #{record.moderatorId,jdbcType=INTEGER},
      Creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      End_time = #{record.endTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ysu.Model.po.Banned">
    update Banned
    <set>
      <if test="userId != null">
        User_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="moderatorId != null">
        Moderator_id = #{moderatorId,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        Creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        End_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ysu.Model.po.Banned">
    update Banned
    set User_id = #{userId,jdbcType=INTEGER},
      Moderator_id = #{moderatorId,jdbcType=INTEGER},
      Creat_time = #{creatTime,jdbcType=TIMESTAMP},
      End_time = #{endTime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>